<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Create New Item</h1>
    <a href="#" th:href="@{/items}" class="btn">Back to List</a>
</header>

<main>
    <form th:action="@{/items}" th:object="${item}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>

        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" required/>

        <label for="image">Image URL:</label>
        <input type="text" id="image" th:field="*{image}" required/>

        <label for="url">URL:</label>
        <input type="text" id="url" th:field="*{url}" required/>

        <button type="submit" class="btn">Create Item</button>
    </form>
</main>
</body>
</html>
